.home {
    margin: 0;
    padding: 0px;
    width: 100vw;
    height: calc(100vh - 100px);
    box-sizing: border-box;

    display: flex;
    align-items: center;



    &__resose-wrapper {
        width: 100%;
        height: 80%;
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-left: 100px;
        padding-right: 200px;


        &__my-image {
            width: 20vw;
            height: 60vh;
            aspect-ratio: 1;
            border-radius: 10%;
            border: var(--yellow-theme-main-color) solid 5px;
            height: 25vw;
            position: relative;
            right: 0;
            top: 0;
           overflow: hidden;
            margin-bottom: 100px;
        

            box-shadow:
                rgba(0, 0, 0, 0.25) 0px 54px 55px,
                rgba(0, 0, 0, 0.12) 0px -12px 30px,
                rgba(0, 0, 0, 0.12) 0px 4px 6px,
                rgba(0, 0, 0, 0.17) 0px 12px 13px,
                rgba(0, 0, 0, 0.09) 0px -3px 5px,
                var(--yellow-theme-main-color) 0px 2px 50px 5px;


            img {
                width: 20vw;
                height: 55vh;
                margin: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                zoom: 0%;

            }
        }

        &__text-wrapper {

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-bottom: 60px;



            &__text {

                h1 {
                    color: var(--yellow-theme-main-color);

                    font-weight: 500;
                    font-size: 5rem;
                    position: relative;
                    overflow: hidden;
                    white-space: nowrap;
                    line-height: 6rem;
                    animation: typingEffectAnimation 1.5s steps(30, end) forwards;

                    span {
                        color: #ffffff;
                        font-size: 9rem;
                        line-height: 15rem;
                    }
                }
            }

            &__btn {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                width: 100%;

            }



        }



        &__contact {
            height: 100%;
            width: fit-content;
            display: flex;
            flex-wrap: wrap-reverse;


            a {
                position: relative;
                display: inline-block;
                width: 40px;
                height: 40px;
                text-align: center;
                line-height: 50px;
                border-radius: 100%;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 20px;
                margin-top: 40px;


                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    border: 3px solid var(--yellow-theme-main-color);
                    border-radius: 100%;
                    pointer-events: none;


                }

                &:hover::after {
                    border: 3px solid #ffffff;
                    box-shadow:
                        rgba(0, 0, 0, 0.25) 0px 54px 55px,
                        rgba(0, 0, 0, 0.12) 0px -12px 30px,
                        rgba(0, 0, 0, 0.12) 0px 4px 6px,
                        rgba(0, 0, 0, 0.17) 0px 12px 13px,
                        rgba(0, 0, 0, 0.09) 0px -3px 5px,
                        var(--yellow-theme-main-color) 0px 0px 5px 5px;

                    transform: scale(1.1);

                }
            }


            a {
                font-size: 25px;
                text-align: center;
                color: var(--yellow-theme-main-color);
                animation: resoseAnimation 0.5s steps(30, end) forwards;



                &:hover {
                    border: 2px solid (--yellow-theme-main-color);
                    color: #ffffff;


                }
            }
        }

    }

    &__contact-me {
        justify-content: center;
        display: flex;

        button {
            cursor: pointer;
            width: 200px;
            padding: 10px 10px;
            font-size: 2rem;
            background: transparent;
            color: var(--yellow-theme-main-color);
            border: 1.5px solid var(--yellow-theme-main-color);
            border-radius: 4px;
            font-weight: 500;
            margin-top: 40px;

            &:hover {
                background: var(--yellow-theme-main-color);
                color: #000000;
            }
        }
    }

}


@keyframes typingEffectAnimation {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}



// media quree 

@media (max-width: 1484px) and (min-width: 1180px) {
    .home {

        &__resose-wrapper {

            &__my-image {
                width: 22vw;
                height: 30vw;

                img {
                    width: 22vw;
                    height: 32vw;
                }
            }

            &__text-wrapper {


                margin-left: 100px;
                height: 80%;


                &__text {

                    h1 {


                        font-weight: 400;
                        font-size: 4rem;
                        position: relative;
                        overflow: hidden;
                        white-space: nowrap;
                        line-height: 5rem;


                        span {

                            font-size: 8rem;
                            line-height: 12rem;
                        }
                    }
                }

            }

        }
    }
}

@media (max-width: 1181px) and (min-width: 1000px) {
    .home {

        &__resose-wrapper {

            &__my-image {
                width: 22vw;
                height: 32vw;


                img {
                    width: 22vw;
                    height: 32vw;
                }
            }

            &__text-wrapper {


                margin-left: 50px;
                height: 60%;
                margin-top: 100px;


                &__text {

                    h1 {


                        font-weight: 400;
                        font-size: 4rem;
                        line-height: 5rem;


                        span {

                            font-size: 7rem;
                            line-height: 9rem;
                        }
                    }
                }

            }

        }
    }
}


@media (max-width: 999px) and (min-width: 855px) {
    .home {

        &__resose-wrapper {

            &__my-image {
                width: 22vw;
                height: 32vw;


                img {
                    width: 22vw;
                    height: 32vw;
                }
            }

            &__text-wrapper {


                margin-left: 50px;
                height: 60%;
                margin-top: 100px;


                &__text {

                    h1 {


                        font-weight: 400;
                        font-size: 3rem;
                        line-height: 5rem;


                        span {
                            font-size: 6rem;
                            line-height: 6rem;
                        }
                    }
                }

            }

        }


        &__contact-me {


            button {
                cursor: pointer;
                width: 170px;
                font-size: 16px;





            }
        }

    }

}


//mobile size

@media (max-width: 856px) and (min-width: 760px) {
    .home {



        &__resose-wrapper {
            width: 100%;
            height: 110%;
            display: flex;
            align-items: center;
            flex-direction: column;

            &__my-image {
                width: 20vw;
                height: 25vw;
                top: 60px;
                box-shadow:
                    rgba(0, 0, 0, 0.25) 0px 54px 55px,
                    rgba(0, 0, 0, 0.12) 0px -12px 30px,
                    rgba(0, 0, 0, 0.12) 0px 4px 6px,
                    rgba(0, 0, 0, 0.17) 0px 12px 13px,
                    rgba(0, 0, 0, 0.09) 0px -3px 5px,
                    var(--yellow-theme-main-color) 0px 2px 30px 5px;

                img {
                    width: 20vw;
                    height: 25vw;
                }

            }

            &__text-wrapper {

                flex-direction: column;
                margin-bottom: 50px;

                &__text {

                    h1 {
                        color: var(--yellow-theme-main-color);

                        font-size: 3rem;
                        line-height: 5rem;


                        span {

                            font-size: 6rem;
                            line-height: 6rem;
                        }
                    }
                }

                &__btn {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    width: 100%;

                }



            }


            &__contact {

                a {

                    margin: 15px;
                    margin-top: 25px;

                }

            }

        }

        &__contact-me {


            button {
                cursor: pointer;
                width: 150px;
                padding: 10px 10px;
                font-size: 15px;
                margin-top: 40px;


            }
        }

    }
}


@media (max-width: 760px) and (min-width: 550px) {
    .home {

        &__resose-wrapper {
            width: 100%;
            height: 105%;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding-left: 0px;
            padding-right: 0px;

            &__my-image {
                width: 20vw;
                height: 25vw;
                top: 40px;
                margin-bottom: 0px;

                img {
                    width: 20vw;
                    height: 25vw;
                }

            }

            &__text-wrapper {

                flex-direction: column;
                margin-bottom: 50px;
                width: 60%;

                &__text {

                    h1 {
                        color: var(--yellow-theme-main-color);

                        font-size: 3rem;
                        line-height: 5rem;


                        span {

                            font-size: 5rem;
                            line-height: 6rem;
                        }
                    }
                }

                &__btn {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    width: 100%;

                }



            }


            &__contact {

                a {

                    margin: 15px;
                    margin-top: 25px;

                }

            }

        }

        &__contact-me {
            display: flex;
            justify-content: space-around;

            button {
                cursor: pointer;
                width: 150px;
                padding: 10px 10px;
                font-size: 15px;
                margin-top: 40px;



            }
        }

    }
}


@media (max-width: 550px) and (min-width: 200px) {
    .home {

        display: flex;
        align-items: center;
        justify-content: center;

        &__resose-wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding-left: 0px;
            padding-right: 0px;

            &__my-image {
                width: 35vw;
                height: 45vw;
                top: 50px;
                margin-bottom: 40px;


                img {
                    width: 35vw;
                    height: 45vw;
                }

            }

            &__text-wrapper {

                flex-direction: column;
                margin-bottom: 50px;
                width: 80%;

                &__text {

                    h1 {
                        color: var(--yellow-theme-main-color);

                        font-size: 25px;
                        line-height: 5rem;


                        span {

                            font-size: 35px;
                            line-height: 2rem;
                        }
                    }
                }

                &__btn {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    width: 100%;

                }



            }


            &__contact {

                a {

                    margin: 15px;
                    margin-top: 25px;

                }

            }

        }

        &__contact-me {
            display: flex;
            justify-content: space-around;

            button {
                cursor: pointer;
                width: 110px;
                padding: 5px 5px;
                font-size: 13px;
                margin-top: 40px;



            }
        }

    }
}